/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  /*===== Colores =====*/
  --backGrad: #069A8E;
  --navcol: #005555cc;
  --btn: #005555a6;
  --btn_hover: #005555e4;
  --optioncol: #069A8E;
  --backGradBtns: #005555cc;
  --first-color: #1A73E8;
  --input-color: #80868B;
  --border-color: #DADCE0;

  /*===== Fonts =====*/
  --body-font: 'Roboto', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .75rem;
}

  
/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--backGrad);
}

/*===== FORM =====*/
.l-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.form{
  width: 420px;
  padding: 2rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(10, 23, 33, 0.63);
  margin-left: 10px;
  margin-right: 10px;
}
.form__title{
  font-weight: 400;
  margin-bottom: .7rem;
  color: white;
}
h4 {
  margin-left: 5.2rem;
}
.form__div{
  position: relative;
  height: 3.4rem;
  margin-bottom: 1rem;
  /* margin-right: -1.36rem; */
}
.form__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--normal-font-size);
  border: 1px solid var(--border-color);
  border-radius: .5rem;
  outline: white solid .0001em;
  padding: 1rem;
  background: none;
  z-index: 1;
}
.form__label{
  position: absolute;
  left: 1rem;
  top: .4rem;
  padding: 0 .25rem;
  background-color: var(--backGrad);
  color: white;
  font-size: var(--normal-font-size);
  transition: .3s;
}
.form__button{
  display: block;
  margin-left: auto;
  /* margin-right: .4rem; */
  padding: .75rem 2rem;
  outline: rgb(255, 255, 255) solid .01em;
  border: white 1em;
  background-color: var(--backGrad);
  color: #fff;
  font-size: var(--normal-font-size);
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
}
.form__button:hover{
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.35);
}

/*Input focus move up label*/
.form__input:focus + .form__label{
  top: -.5rem;
  left: .8rem;
  color: white;
  outline: white;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

/*Input focus sticky top label*/
.form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label{
  top: -.5rem;
  left: .8rem;
  outline: white;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

/*Input focus*/
.form__input:focus{
  border: 1.5px solid var(--first-color);
}


input, select, textarea{
  color: white;
}

textarea:focus, input:focus {
  color: white;
}

#maxValue {
  /* background-color: black; */
  width: 75%;
}

#maxValueLabel{
  font-size:smaller;
}

#tagPriceListItem{
  /* background-color: blue; */
  margin-left: 79%;
  width: 21%;
  padding-left: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
}

#btnRunBothScripts, #stopTheScripts {
  cursor: pointer;
  border-radius: .5rem;
  font-size: large;
  padding: 10px;
}

option {
  background: var(--optioncol);
}